<div class="container mt-3 text-center">
  <h4 class="mb-4">Detail Produk</h4>
  <div class="d-flex justify-content-center">
    <table class="table table-bordered w-auto" style="table-layout: fixed;">
      <tbody>
        <tr>
          <th style="width: 150px;">NO</th>
          <td>{{ produk?.id }}</td>
        </tr>
        <tr>
          <th>NAMA PRODUK</th>
          <td>{{ produk?.nama }}</td>
        </tr>
        <tr>
          <th>BERAT (KG)</th>
          <td>{{ produk?.berat }}</td>
        </tr>
        <tr>
          <th>STATUS</th>
          <td>{{ produk?.status }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
